@font-face {
    font-family: remachine;
    src: url('/fonts/remachine_script/RemachineScript_Personal_Use.ttf');
}

html{
  background-color: #e8b71a;
}

.sect_header{
  font-family: remachine;
  font-size: 2em
}

h2, h3, h4, h5{
  font-family: remachine;
  font-size: 4em;
  margin-bottom: 0;
}

.navbar{
  /*color: white;*/
  /*background: #28abe3;*/
  position: fixed;
  height: 3em;
  width:100%;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 2px solid #f7eac8;
  z-index: 1000;
  background-color: #28abe3;
}

.me-logo{
  height: 100%;
  float: left;
  margin-left: 7%
}

.nav-links{
  width: 90%;
  /*border: 1px solid black;*/
  text-align: right;
  /*margin-right: 10%;*/
  /*-webkit-transition:background-color 2s, -webkit-transform 2s;*/
  /*transition:background-color 2s, transform 2s;*/
}

.nav-links li{
  list-style: none;
  display: inline-block;
  /*text-decoration: none;*/
  width: 15%;
  margin-top: -1%;
  transition: 0.1s ease-in-out
}

.nav-links a{
  color: #f7eac8;
  text-decoration: none;
  font-family: remachine;
  font-size: 250%;
  /*color: #1E90FF;*/
}

.nav-links li:hover{
  -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

section{
  /*padding-top: 5%;*/
  /*border: 1px solid black;*/
  height: auto;
  padding: 3% 10% 5% 10%;
  margin:0 -5% 0 -5%;
  box-shadow: 5px 5px 5px #888888;
}

.mainpic{
  /*position: relative;*/
  position: absolute;
  /*bottom: 0;*/
  margin-top: -10em;
  /*height: 10%;*/
  width: 30%;
  margin-left: 15%;
  vertical-align: center;
  max-height: 500px;
  max-width: 463px;
  /*float: right;*/
}

.sect_title{
  margin-left: 10%;
  margin-top: 2%;
}

.intro_section{
  /*background-color: #1E90FF;*/
  background-size: 100% 100%;
  background: #e8b71a;
  padding: 13% 0% 17.5% 0%;
  /*border: 1px solid black;*/
  /*text-align: center;*/
  position: relative;
/*  background-image: url('http://hd.wallpaperswide.com/thumbs/cosmic_calm-t2.jpg');
  background-size: 100%;*/
}

.info_text{
  font-family: remachine;
  position: relative;
  color: #f7eac8;
  font-size: 600%;
  width: 80%;
  height: 80%;
  margin-left: 10%;
  text-align: left;
  padding-right: 10%
}

.subtitle{
  font-size: 500%
}

.arrow{
  position: absolute;
  bottom:0;
  margin: auto;
  right: 47%;
  height: 12%;
  width: 10%;
}

.about_section h3{
  color: #e8b71a;
}

.about_section{
  /*border: 1px solid black;*/
  background-color: #28abe3;
}

.about_section div{
  width: 30%;
  height: 70%;
  /*border: 1px solid black;*/
  display: inline-block;
  margin-left: 5%;
  /*border-radius: 1em;*/
  background-color: #e8b71a;
  padding: 0 5% 0 5%;
  font-size: 1.25em;
  color: #f7eac8;
  text-align:center;
}

.portfolio_section{
  box-shadow: 5px 5px 5px #888888;
  padding-bottom: -10%;
  /*z-index:-100000;*/
  border-bottom: 1px solid black;
}

.portfolio_section h3{
  color: #28abe3;
}

.project_list{
  text-align: center;
  list-style: none;
  margin: 0;
}

.project_list li{
  display: inline-block;
  padding: 5% 2% 5% 2%;
  position: relative;

}

.project_list img{
  width: 17em;
  height: 13em;
  /*position: absolute;*/
}

.caption{
  position: absolute;
  background: rgba(40, 171, 227, 0.8);
  color: #fff;
  width: 17em;
  height: 13em;
  margin-top: -13.17em;
  display: none
}

.skills_container{
  float: right;
  margin-right: 5%;
  text-align: center;
}

.contact_section{
  background-color: #28abe3;

}
.contact_info{
  text-align: center
}

.contact_section h3{
  color: #e8b71a
}
.contact_info h5{
  margin-top: 0;
  font-size: 300%;
  color:#f7eac8;
}

.contact_photo{
  height: 70%;
  width: 25%;
  min-width: 10em;
}

.social_media{
  list-style: none;
  display: inline-block;
  min-width: 7%
}

.socmed_icon{
  height: 4.10em;
  width: 4.10em;
  border-radius: 100%;
  border: 3px solid white;
}

footer{
  color: #f7eac8
}

@media only screen
    and (max-device-width: 640px),
    only screen and (max-device-width: 667px),
    only screen and (max-width: 480px){

  .navbar{
    height: 5%;
  }

  .nav-links{
    text-align: center;
    width: 100%;
    margin-left: -5%
  }

  .navbar li{
    width: 30%;
    font-size: 200%
  }

  .me-logo{
    display: none;

    /*width: 0;*/
  }

  .intro_section{
    text-align: center;
    font-size: 180%;
  }

  .mainpic{
    display: block;
    position: relative;
    margin: auto;
    padding-top: 5%
  }

  .about_section{
    text-align: center;
    /*display: block;*/
    position: relative;
    padding-bottom: 10%;

  }

  .about_section div{
    font-size: 350%;
    display: block;
    margin-left: 0;
    margin: auto;
    width: 90%;
    position: relative;
    float: none;
  }

  .sect_title{
    text-align: center;
    margin-left: 0%;
    font-size: 10em
  }

  .skills_container{
    top: 40px;
  }

  .portfolio_section img{
    width: 110%;
    height: 110%;
    margin-left: -5%
  }

  .contact_photo{
    height: 75%;
    width: 75%;
  }

  .contact_info h5{
    font-size: 900%
  }

  .social_media{
    width: 17%
  }

  .socmed_icon{
    height: 90%;
    width: 90%;
  }





}