<html><!--<![endif]-->
<head>

  <meta charset="UTF-8">

  <title>Stephen Clem</title>

  <!--[if (gt IE 8) | (IEMobile)]><!-->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/application.css">
    <link rel="stylesheet" href="css/normalize.css">
  <!--[endif]---->

  <!--[if (lt IE 9) & (!IEMobile)]>
    <link rel="stylesheet" href="/assets/css/ie-styles_2014.css">
  <![endif]-->
</head>


  <body>


    <div id="js__media-check"></div>
    <div id="load__smoke"></div>





<div class="site__content">



  <div class="home__screen" style="">

<div class="btn-container">

    <a id="portfolio-button" class="home-button" href="#portfolio" data-direction="left" style="-webkit-user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); touch-action: none; display: block; transform: translate(0px, 0px); top: 182.5px;">

    <div class="icon__portfolio">
      <img src="http://alechirst.com/img/icons/folder_2.png" alt="Portfolio icon">
      <span>Portfolio</span>
    </div>

    <div class="icon__portfolio--back">
      <img src="imgs2/backarrowright.png" alt="back icon">
      <span>Back</span>
    </div>

  </a>

  <a id="about-btn" class="home-button" href="#aboutme" data-direction="right" style="-webkit-user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); touch-action: none; display: block; transform: translate(0px, 0px);">

    <div class="icon__about" style="transform: translate(0px, 0px);">
      <img src="imgs2/info-img.png" alt="Info Page icon">
      <span>About</span>
    </div>

    <div class="icon__about--back" style="transform: translate(100%, 0px);">
      <img src="imgs2/backarrowleft.png" alt="back icon">
      <span>Back</span>
    </div>

  </a>

</div>

<div class="name_pic">
  <img src="imgs2/nameimage.png">
</div>

<div class="logo-container">
  <div class="tagline--right">Developer</div>
  <div class="tagline">Web</div>
  <div class="logo"><img src="imgs2/stephenlogo.png" alt="" class=""></div>
</div>

<div class="tagline_text_container tagline_mobile">
<!--   <span class="order-btn__after"></span>
  <span class="order-btn__before"></span> -->
  <span class="mobile_tagline_text">Web Developer</span>
</div>

<!-- <a class="order-btn order--desktop" href="#">
  <span class="order-btn__after"></span>
  <span class="order-btn__before"></span>
  <span class="order-btn__text">Welcome</span>
</a> -->

<!-- <div class="tel">
  <a href="tel:03 9417 6328" class="tel__link"><span class="tel__link__icon"></span> 9417 MEAT</a>
</div> -->

<footer id="footer" style="bottom: 0px; left: 0px; right: 0px;">

  <div class="home__social">

    <div class="social-icons-wrapper">
      <a href="https://twitter.com/StephenClem72"><img src="imgs2/twitter.png"/></span></a>
      <a href="https://www.linkedin.com/in/stephenclem"><img src="imgs2/linkedin.png"/></a>
      <!-- <a href="https://plus.google.com/u/0/108163410447612728484/posts"><img src="imgs2/google-plus.png"/></span></a> -->
      <!-- <a href="https://www.facebook.com/stephen.clem.73"/><img src="imgs2/facebook.png"</a> -->
      <a href="https://github.com/StephenClem72"><img src="imgs2/github.png"/></a>
      <a href="mailto:stevebclem@gmail.com"><img src="imgs2/email.png"/></a>
    </div>
  </div>

  <div class="home__links">

<!--     <p><a href="http://huxtablerestaurant.com.au" target="_blank">Huxtable</a> • <a href="mailto:employment@huxtaburger.com.au?Subject=Here’s my CV / resume and cover letter">Jobs</a> • <a href="http://www.huxtaburgershop.com/" target="_blank">Huxtamerch</a> • <a href="mailto:info@reymondcommunications.com.au" target="_blank">Media</a></p> -->
  </div>

</footer>

  </div>

<div class="portfolio-screen" style="transform: translate(-100%, 0px);">

<div class="screen-content">

<h2 class="screen-title">Portfolio</h2>

 <div id="projects" class="project-group">

  <div class="project_background" style=""></div>

    <div class="project-item">

      <div class="project" data-state="closed" style="">
        <!-- <div class="burger__price js__fade-out">$7</div> -->
        <a target="_blank" href="#"><img class="burger--clair-jnr-01" src="imgs2/coming-soon.png" data-direction="up" data-end="-35"></a>

      </div>

      <h2 class="project-title"><a target="_blank" href="#">showLime</a></h2>
      <p class="project-description">An app used to track your favorite televisions shows! Built with the MEAN stack.</p>

    </div>

    <div class="project-item">

      <div class="project" data-state="closed" style="">
        <!-- <div class="burger__price js__fade-out">$7</div> -->
        <a target="_blank" href="http://b33rme.github.io/"><img class="burger--clair-jnr-01" src="imgs2/beer-me.png" data-direction="up" data-end="-35"></a>

      </div>

      <h2 class="project-title"><a target="_blank" href="http://b33rme.github.io/">Beer.me</a></h2>
      <p class="project-description">A mobile application to locate not only the best, but the rarest beers in your area and take you from here.... to beer.</p>

    </div>

    <div class="project-item">

      <div class="project" data-state="closed" style="">
        <!-- <div class="burger__price js__fade-out">$7</div> -->
        <a target="_blank" href="http://www.hackster.io/marty-mcsleeves/marty-mcsleeves"><img class="burger--clair-jnr-01" src="imgs2/martymcsleeves.jpg" data-direction="up" data-end="-35"></a>

      </div>

      <h2 class="project-title"><a target="_blank" href="http://www.hackster.io/marty-mcsleeves/marty-mcsleeves">Marty McSleeves</a></h2>
      <p class="project-description">A jacket inspired by Back To The Future II and built at a Hardware Hackathon. The jacket's sleeves roll up and roll down automatically according to the temperature outside. We received honorable mention!</p>

    </div>

    <div class="project-item">

      <div class="project" data-state="closed" style="">
        <!-- <div class="burger__price js__fade-out">$7</div> -->
        <a target="_blank" href="#"><img class="burger--clair-jnr-01" src="imgs2/stephensnightmaremadness.png" data-direction="up" data-end="-35"></a>

      </div>

      <h2 class="project-title"><a target="_blank" href="#">Stephen's Nightmare Madness</a></h2>
      <p class="project-description">A horrific survival shooter built with Unity and C#. Guaranteed to give you nightmares. </p>

    </div>
        <div class="project-item">

      <div class="project" data-state="closed" style="">
        <!-- <div class="burger__price js__fade-out">$7</div> -->
        <a target="_blank" href="http://go-trek.herokuapp.com/"><img class="burger--clair-jnr-01" src="imgs2/gotrek-image.png" data-direction="up" data-end="-35"></a>

      </div>

      <h2 class="project-title"><a target="_blank" href="http://go-trek.herokuapp.com/">GoTrek</a></h2>
      <p class="project-description">For adventurous folks seeking the best outdoor recreation and hiking trails around.</p>

    </div>

    <div class="project-item">

      <div class="project" data-state="closed" style="">
        <!-- <div class="burger__price js__fade-out">$7</div> -->
        <a target="_blank" href= "https://github.com/StephenClem72/Sudoku-Solver"><img class="burger--clair-jnr-01" src="imgs2/sudoku-challenge.png" data-direction="up" data-end="-35"></a>

      </div>

      <h2 class="project-title"><a target="_blank" href="https://github.com/StephenClem72/Sudoku-Solver">Sudoku Solver</a></h2>
      <p class="project-description">A self-solving sudoku algorithm made with Ruby.</p>

    </div>

    </div>

  </div>

</div>

  <div class="about__screen" style="">

    <div class="screen-content">

<h2 class="screen-title">About me</h2>

<div class="building-block">

  <div class="main_pic_container" data-function="animate_smoke" data-id="smith" style="-webkit-user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); touch-action: none;">
    <div class="stephen_image"><img class="rotate" src="imgs2/stevechill.png"/></div>
  </div>

  <h2 class="project-title">A little bit about me...</h2>
  <div class="about_me_text">Well hello there! My name is Stephen Clem and I am a full-stack, ruby and javascript enthusiast. I have a passion for learning, algorithms, UX design, data visualization, and a nice hike. My goal in life is to utilize and expand my knowledge to craft beautiful, efficient, and user friendly products that are enjoyable for end users and administrators alike.</div>


</div>

      <div class="skills-and-interests-container">
        <div class="skills">
          <p class="section_title">Proficiencies</p>
          <p class="section_contents">HTML5 ~ CSS3 ~ Javascript ~ JQuery ~ Sinatra ~ Ruby ~ Web design ~ SQL ~ Rails ~ NoSQL ~ Git ~ Angluar.js ~ D3.js ~ Node.js ~ MongoDB</p>
        </div>
          <div class="interests">
            <p class="section_title">Interests</p>
            <p class="section_contents">New Technologies ~ Networking ~ Running ~ Hiking ~ Games ~ Tennis ~ Puzzles ~ Sight seeing ~ Fishing</p>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>









<script src="js/script.js"></script>






</body>
</html>