<!doctype HTML>
<html lang='en'>
<head>
  <link rel="icon" type="image/png" href="imgs/stephenlogoblue.png" />
  <link rel="stylesheet" type="text/css" href="css/application.css">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="js/application.js"></script>

  <title>Stephen Clem</title>

</head>

<body>
  <nav class='navbar'>
    <a href='#intro'><img class='me-logo' src='imgs/stephenlogo.png'></a>
    <ul class='nav-links'>
      <li><a href='#about_me'>About</a></li>
      <li><a href='#portfolio'>Portfolio</a></li>
      <li><a href='#contact_me'>Contact</a></li>
    </ul>
  </nav>

  <section name='intro' class='intro_section'>
    <!-- <div class='info_text'> -->
      <span class='name info_text'>Stephen Clem</span><br>
      <span class='subtitle info_text'>Web Developer</span>
    <!-- </div> -->
    <img class='mainpic' src='imgs/spidersteve.png'>
    <a class='down_link' href="#about_me"><img class='arrow' src='imgs/downarrow.png'></a>
  </section>

  <section id="about_me" class='about_section'>
    <h3 class='sect_title'>About</h3>
    <div class='me_container'>
      <span class='sect_header'>A little about me...</span>
      <p>Well hello there! My name is Stephen Clem and I am a full-stack, ruby and javascript enthusiast. I have a passion for learning, front-end web development, UX design, data visualization, and a nice hike. My goal in life is to utilize and expand my knowledge to craft beautiful, efficient, and user friendly products that are enjoyable for end users and administrators alike.</p>
    </div>
    <div class='skills_container'>
      <span class='sect_header'>Proficiencies</span>
        <p>HTML5 ~ CSS3 ~ Javascript ~ JQuery ~ Sinatra ~ Ruby ~ Web design ~ SQL ~ Rails ~ NoSQL ~ Git</p>
      <span class='sect_header'>Interests</span>
        <p>New Technologies ~ Networking ~ Running ~ Hiking ~ Games ~ Tennis ~ Puzzles ~ Sight seeing ~ Fishing</p>
    </div>




  </section>

  <section name='portfolio' class='portfolio_section'>
    <h3 class='sect_title'>Portfolio</h3>
    <ul class='project_list'>
      <li><a href='http://stephenclem72.github.io/'><img src='imgs/first_site.png'></a></li>
      <li><a href='http://go-trek.herokuapp.com/'><img src='imgs/gotrek-image.png'></a></li>
      <li><a href='http://b33rme.github.io/'><img src='imgs/beer-me.png'></a></li>
    </ul>
  </section>

  <section name='contact_me' class='contact_section'>
    <h3 class='sect_title'>Contact</h3>
    <div class='contact_info'>
      <img class='contact_photo'src='imgs/stevechill.png'>
      <h5>You can reach me through:</h5>
      <div class='icon_list'>
        <li class='social_media'><a href='mailto:stevebclem@gmail.com'><img class='socmed_icon' src = 'imgs/email.png'></a></li>
        <li class='social_media'><a href='https://www.facebook.com/stephen.clem.73'><img class='socmed_icon' src='imgs/facebook.png'></a></li>
        <li class='social_media'><a href='https://twitter.com/StephenClem72'><img class='socmed_icon' src='imgs/twitter.png'></a></li>
        <li class='social_media'><a href='https://linkedin.com/in/stephenclem/'><img class='socmed_icon' src='imgs/linkedin.png'></a></li>
        <li class='social_media'><a href='https://github.com/StephenClem72'><img class='socmed_icon' src='imgs/github.png'></a></li>
      </div>
    </div>
  </section>

</body>
<footer>
  <p>Site Created by Stephen Clem 2015</p>
</footer>
</html>
